* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Nunito, sans-serif;
  background-color: #130f0d;
  color: #fff;
}

.boards {
  display: flex;
  column-gap: 16px;
}

.board {
  padding: 16px;
  border: 1px solid rgba(253, 149, 31, 0.067);
  border-radius: 4px;
  background-color: #141316;
}

.board h3 {
  margin-bottom: 32px;
  color: rgba(253, 149, 31, 0.8);
}

.dropzone {
  min-width: 282px;
  min-height: 200px;
  border-radius: 4px;
  transition: background-color 200ms;
}

.card {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(253, 149, 31, 0.8);
  font-weight: 600;
  font-size: 18px;
  background-color: #1a1a1c;
}

.card + .card {
  margin-top: 16px;
}

.status {
  margin-bottom: 16px;
  width: 32px;
  height: 8px;
  border-radius: 8px;
  background-color: #808080;
}

.status.green {
  background-color: #23d2ac;
}

.status.blue {
  background-color: #33adff;
}

.status.red {
  background-color: #ff0000;
}

.highlight {
  background-color: #fd951f08;
}

.is-dragging {
  opacity: 0.2;
}

.is-over {
  background-color: #4cd13711;
}